<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.comentoStatistic.dao.StatisticMapper">

    <!-- 년도별 로그인 수 -->
    <select id="selectYearLogin" parameterType="string" resultType="YearCountDto">
        select concat('20', #{year}) as year, count(*) as totCnt
        from statistic2.requestInfo ri
        where left(ri.createDate, 2) = #{year};
    </select>

    <!-- 월별 로그인 수 -->
    <select id="selectYearMonthLogin" parameterType="string" resultType="YearMonthCountDto">
        select concat('20', #{yearMonth}) as yearMonth, count(*) as totCnt
        from statistic2.requestInfo ri
        where left(ri.createDate, 4) = #{yearMonth};
    </select>

    <!-- 월별 접속자 수 -->
    <select id="selectYearMonthVisitors" parameterType="string" resultType="YearMonthCountDto">
        select concat('20', #{yearMonth}) as yearMonth, count(distinct userID) as totCnt
        from statistic2.requestInfo ri
        where left(ri.createDate, 4) = #{yearMonth};
    </select>

    <!-- 일자별 접속자 수 -->
    <select id="selectYearMonthDayVisitors" parameterType="string" resultType="YearMonthDayCountDto">
        select concat('20', #{yearMonthDay}) as yearMonthDay, count(distinct userID) as totCnt
        from statistic2.requestInfo ri
        where left(ri.createDate, 6) = #{yearMonthDay};
    </select>

    <!-- 평균 하루 로그인 수 -->
    <select id="selectAvgDayLogins" parameterType="string" resultType="AvgDayLoginDto">
        SELECT COALESCE(AVG(daily_count), 0) AS avgDayCnt
        FROM (
                 SELECT COUNT(*) AS daily_count
                 FROM statistic2.requestInfo ri
                 WHERE LEFT(ri.createDate, 6) = #{yearMonth}
                 GROUP BY MID(ri.createDate, 7, 2)
             ) AS daily_counts;
    </select>

    <!-- 휴일을 제외한 로그인 수 -->
    <select id="selectNonHolidayLogins" parameterType="string" resultType="NonHolidayDto">
        select count(*) as totCnt
        from statistic2.requestInfo ri
        where left(ri.createDate, 6) = #{yearMonth}
          and dayofweek(concat('20', ri.createDate)) not in (1, 7);
    </select>

    <!-- 부서별 월별 로그인 수 -->
    <select id="selectDepartmentMonthLogins" parameterType="string" resultType="DepartmentMonthLoginDto">
        SELECT u.HR_ORGAN AS departmentName, CONCAT('20', #{yearMonth}) AS yearMonth, COALESCE(COUNT(*), 0) AS totCnt
        FROM statistic2.requestInfo ri
                 LEFT JOIN statistic2.user u ON ri.userID = u.userID
        WHERE LEFT(ri.createDate, 4) = #{yearMonth}
        GROUP BY u.HR_ORGAN;
    </select>

</mapper>
